@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');

*{
    color: white;
}
body,
.container {
    background-color: black;
}
.navbar-dark .navbar-toggler {
    border: rgba(255, 255, 255, 0.712) 2px solid;
    border-radius: 5px;
}
.navbar-brand {
    font-family: 'Noto Serif TC', serif;
}
nav {
    margin-bottom: 10px;
}
#reloadbtn {
    cursor: pointer;
    color: red;
}
#time {
    text-align: center;
    line-height: 50px;
    font-family: 'Noto Serif TC', serif;
    height: 50px;
    border: 1px solid rgb(110, 110, 233);
}
.col-12 {
    margin: 10px 0 10px 0;
}

.tip {
    overflow: hidden;
}